/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #caeef2;
    color: #100e0e;
}

/* Header & Navigation */
header {
    background: #131313f4;
    color: rgb(9, 9, 9);
    text-align: center;
    padding: 20px 10px;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: rgb(10, 10, 10);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Sections */
 section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

section h2 {
    color: #4caf50;
}

section img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
}

/* External link */
.external-link {
    text-align: center;
    margin: 30px 0;
}

/* Video */
video {
    display: block;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

footer a {
    color: #4caf50;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
